body {
    background-image: url('../images/tennis-players.jpg');
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    background-size: cover;
}


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    font-size: 0.8rem;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    grid-template-rows: 60% 40%;
    grid-template-areas:
    "logo logo"
    "nav tools";
}

.logo-cont {
    grid-area: logo;
}

.header-tools {
    grid-area: tools;
    font-size: 1rem;
}

.global-nav {
    grid-area: nav;
    box-sizing: border-box;
    width: 100%;
}

.ul-navlist {
    box-sizing: border-box;
    width: 100%;
}

.dreamteam-name {
    font-size: 1rem;    
}

.dreamteam-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   
}
.search-bar {
    padding-top: 0.3cm;
    padding-right: 0.3cm;
    box-sizing: border-box;
    width: 100%;
}

.navlist{
    background-color:#fcf928;
  border: none;
  color: white;
  padding: 2px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1 {
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
    /* background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%); /..zilais tonis */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.hero-cont {
    display: none;
}

.hero-action {
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.main-cont {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.ad-cont {
    display: none;
}

.advert-cont {
    box-sizing: border-box;
    width: 100%;
    text-align: center;

}

.sidebar {
    display: none;
}

main {
    display: block;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
p {
    font-size: 1rem;
}

@media (min-width: 576px) {
    header {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        font-size: 1.2rem;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        grid-template-rows: 100%;
        grid-template-areas:
        "logo nav nav tools";
    }
        .logo-cont {
            grid-area: logo;
        }
        .global-nav {
            grid-area: nav;
        }
        .header-tools {
            grid-area: tools;
        }

    

    main {
        display: grid;
        text-align: center;
        font-size: 1.2rem;
        box-sizing: border-box;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 10% 10% 20% 30% 15% 5%;
        grid-template-areas:
            "hero hero hero hero"
            "heroact heroact heroact heroact"
            "main main main ad"
            "mainli mainli mainli mainli"
            "sideb sideb sideb sideb"
            "footer footer footer footer";
    }
    
    .hero-cont {
        display: inline;
        grid-area: hero;
        box-sizing: border-box;
    text-align: center;
    }
    .hero-action {
        grid-area: heroact;
    }
    .ad-cont {
        display: none;
    }
    
    .advert-cont {
        box-sizing: border-box;
        width: 100%;
        grid-area: ad;
        height: 100%;
    }
    .footer-cont {
        grid-area: footer;
    }
    .main-article {
        grid-area: main;
    }
    .main-cont {
        grid-area: mainli;
    }
    .sidebar {
        display: inline;
        grid-area: sideb;
        box-sizing: border-box;
    width: 100%;
    text-align: center;
    }
    p {
        font-size: 1.4rem;
    }
}

@media (min-width: 992px) {
    header {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        font-size: 1.6rem;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        grid-template-rows: 100%;
        grid-template-areas:
        "logo nav nav tools";
    }
        .logo-cont {
            grid-area: logo;
        }
        .global-nav {
            grid-area: nav;
        }
        .header-tools {
            grid-area: tools;
        }

    
    main {
        display: grid;
        grid-template-columns: 30% 20% 20% 30%;
        grid-template-rows: 30% 60% 10%;
        grid-template-areas:
            "hero hero heroact ad"
            "main mainli mainli sideb"
            "footer footer footer footer";
        text-align: center;
        font-size: 1.6rem;
        box-sizing: border-box;
        width: 100%;
    }
    
    .hero-cont {
        grid-area: hero;
    }
    .hero-action {
        grid-area: heroact;
    }
    .ad-cont {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        grid-area: ad;
        height: 100%;
    }
    
    .advert-cont {
        display: none;
    }
    .footer-cont {
        grid-area: footer;
        font-size: 1rem;
        padding-top: 15px;
    }
    .main-article {
        grid-area: main;
    }
    .main-cont {
        grid-area: mainli;
    }
    .sidebar {
        display: inline;
        grid-area: sideb;
    }
    p {
        font-size: 1.8rem;
    }
}
